.footer_row{
  box-shadow: 0px -5px 10px darkgrey;
  margin-top: 60px;
}
.footer{
  margin-top: 10px;
  padding-right: 0;
  margin-bottom: 10px;
  a{
    text-decoration: none;
    color: inherit;
    margin-top: 10px;
  }
  .github{
    margin-right: 20px;
    width: auto;
  }
  .twitter{
    width: auto;
  }
  .git-icon{
    margin-right: 10px;
    svg{
      height: 2em;
      width: auto;
    }
  }
  .twitter-icon{
    margin-right: 10px;
    svg{
      height: 2em;
      width: auto;
    }
  }
}

@media screen and (max-width: 640px){
  .footer{
    font-size: .8rem;
    width: 100%;
    justify-content: center;
    .git-icon{
      margin-right: 5px;
    }
    .twitter-icon{
      margin-right: 5px;
    }
  }
}