.contact_frame{
  text-align: center;
  .contact_form{
    text-align: left;
    margin-top: 30px;
    .captcha{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    textarea{
      height: 300px;
    }
  }
}

@media screen and (max-width: 640px){
  .contact_frame{
    margin-left: 10px;
    margin-right: 10px;
    button{
      margin-bottom: 30px;
    }
  }
}